@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&family=Oswald:wght@200;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

root {
    font-size: 16px;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: 'Inter', sans-serif;
    font-family: 'Oswald', sans-serif;
}

button {
    outline: none;
    border: none;
    color: white;
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: 4px;
    width: 60%;
    height: 2.8em;
    background-color: hsl(5, 85%, 63%);
    margin: 3% 0 0 0;
}

button:hover {
    background-color: black;
}

a{
    text-decoration: none;
    
}

.main-content {
    padding: 0 5% 0 5%;
    display: grid;
    grid-template: repeat(3, 100%) / 1fr;
    height: 90%;
    width: 100%;
    overflow: auto;
}

.menupop{
    top: 0;
    visibility: hidden;
    background-color: rgba(0,0,0,0.5);
    opacity: 1;
    position: fixed;
    height: 100vh;
    width: 100vw;
}

.menu{
    padding: 3%;
    width: 60%;
    height: 100%;
    background-color: white;
    position: absolute;
    right: 0;
    display: grid;
    grid-template: 3fr repeat(5, 1fr) 40% / 1fr;
}

svg{
    justify-self: end;
}


nav {
    width: 100%;
    height: 10%;
    background-color: white;
    top: 0;
    padding: 2% 5% 2% 5%;
    display: flex;
    justify-content: space-between;
}

.logo, .icon {
    height: 100%;
    aspect-ratio: 1/1;
    background-repeat: no-repeat;
    background-position: center;
}

.logo {
    background-size: contain;
    background-image: url(assets/images/logo.svg);
}

.icon {
    background-image: url(assets/images/icon-menu.svg);
    padding: 2%;
}

#main .img {
    height: 50%;
    background-image: url(assets/images/image-web-3-mobile.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.content {
    padding : 3% 0 3% 0;
    text-align: left;
}

.content h1 {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3rem;
}

.content p{
    font-size: 1.3rem;
    font-weight: 400;
    color:  hsl(236, 13%, 42%);
}

.newbox {
    margin: 15% 0 0 0;
    background-color: hsl(240, 100%, 5%);
    padding: 10%;
    color: white;
    height: 90%;
    line-height: 2rem;
}

.newbox hr {
    margin: 5% 0 5% 0;
}

.newbox h2 {
    color: hsl(35, 77%, 62%);
    font-size: 2rem;
    margin-bottom: 5%;
}

.newbox p {
    color: hsl(36, 100%, 99%);
    font-size: 1.3rem;
}

.popular {
    display: grid;
    margin-top: 15%;
    grid-template: repeat(3, 30%)/ 100%;
    gap: 5%;
    height: 80%;
}

.itempop {
    display: grid;
    grid-template: 1fr / 35% 60%;
    gap: 5%;
}

.popular h1 {
    font-size: 3rem;
    font-weight: 800;
    color: hsl(233, 8%, 79%);
}

.popular .imgpop {
    background-repeat: no-repeat;
    background-size: contain;
}

.popular .img1 {
    background-image: url(assets/images/image-retro-pcs.jpg);
}

.popular .img2 {
    background-image: url(assets/images/image-top-laptops.jpg);
}

.popular .img3 {
    background-image: url(assets/images/image-gaming-growth.jpg);
}

